* {
    box-sizing: border-box;
}

body {
    background-color: #621402;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #fff;
}

hr { 
    display: block; height: 1px;
    border: 0; 
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    width: 1030px;
    margin-top: 0px;
    padding: 0; 
}

.avatar {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    margin-left: 11px;
}

.container {
    max-width: 1170px;
    margin:auto;
}

.clock {
    margin-right: 14px;
}

.film {
    margin-top: 60px;
    display: flex;
    align-items: center;
}

.film-description {
    line-height: 150%;
    max-width: 570px;
}

.film-details {
    display: flex;
    align-items: center;
    margin-top: 51px;
}

.film-title {
    font-size: 36px;
    line-height: 42px;
    margin-top: 11px;
    margin-bottom: 23px;
}

.film-title-small {
    opacity: 50%;
    font-size: 24px;
    line-height: 150%;
}

.film-trailer {
    margin: auto;
}

.header {
    background: linear-gradient(180deg, rgba(98, 20, 2, 0.31) 0%, #621402 85.62%), 
    url(../img/bg.jpg) no-repeat center top / cover;
    min-height: 100vh;
}

.legend {
    display: flex;
    margin-left: 70px;
}

.legend-free .legend-text,
.legend-booked .legend-text {
    opacity: 0.5;
}

.legend-active .legend-text {
    color: #FE8E05;
}


.legend-label {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.legend-text {
    line-height: 75px;
    margin-left: 15px;
}


.menu {
    list-style: none;
    display: flex;
    margin: 0;
    margin-left: 17px;
}

.menu-item {
    margin-right: 25px; 
}

.menu-link {
    color: #fff;
    text-decoration: none;
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.price {
    margin-top: 62px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 170px;
}

.price-button {
    background: #FE8E05;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    width: 254px;
    height: 69px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    line-height: 69px;
}

.price-label {
    font-size: 18px;
    line-height: 21px;
}

.price-tag {
    font-size: 52px;
    line-height: 61px;
}

.rating {
    margin-left: 34px;
}

.rating-current {
    font-size: 24px;
}

.rating-icon {
    margin-left: 34px;
}

.scheme {
    background: rgba(36, 36, 36, 0.18);
    border-radius: 10px;
    margin-top: 61px;
    padding-top: 48px;
}

.scheme-svg-container {
    margin: auto;
    width: 1028px;
    height: 559px;
}

.scheme .seat {
    fill: rgba(255, 255, 255, 0.2);
}

.scheme .seat:hover {
    cursor: pointer;
    fill: rgba(255, 255, 255, 0.5);
}

.scheme .active {
    fill: #FE8E05;
}

.scheme .booked, 
.scheme .booked:hover {
    fill: rgba(255, 255, 255, 0.05);
    cursor: not-allowed;
}

.select {
    cursor: pointer;
    height: 60px;
    color: #fff;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 33px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 18px;
}

.select-cinema {
    width: 470px;
}

.select-time {
    width: 108px;
}

.session {
    display: flex;
    padding-top: 46px;
    padding-bottom: 64px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin-top: 59px;
    margin-bottom: 59px;
    justify-content: space-between;
    align-items: flex-start;
}

.session-cinema {
    display: flex;
    flex-direction: column;
}

.session-time {
    display: flex;
    flex-direction: column;
}

.session-date-block {
    display: flex;
    margin-top: 20px;
}

.session-date-day {
    font-weight: 900;
    font-size: 30px;
    line-height: 35px;
}

.session-date-item {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    width: 90px;
    height: 90px;
    text-align: center;
    justify-content: center;
    margin-right: 15px;
    transition: background-color 0.2s;
}

.session-date-item:hover {
    cursor: pointer;
    background-color: #FE8E05;
    color: #621402;
}

.session-date-month {
    margin-top: 9px;
    line-height: 19px;
}

.session-date-week {
    font-size: 19px;
    line-height: 12px;
    margin-bottom: 9px;
}

.session-time {
    line-height: 19px;
}

.time {
    display: flex;
    align-items: center;
}

.time-counter {
    font-size: 16px;
}

.user {
    margin-left: auto;
    display: flex;
    align-items: center;
}